TURN_STATE_PROXY_HOST=proxy.example:7778
TURN_STATE_PROXY_USERNAME=YOUR_PREFIX_{country}___5_{session}
TURN_STATE_PROXY_PASSWORD=REPLACE_WITH_YOUR_PROXY_PASSWORD
TURN_STATE_PROXY_COUNTRIES=SG,ZA,BR,AE,US,JP
TURN_STATE_PROXY_UPSTREAM=
TURN_STATE_POOL_ATTEMPTS=9
TURN_STATE_POOL_CONCURRENCY=4
